<?xml version="1.0"?>
<model>
  <name>four_wheeled_robot</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    A four-wheeled robot with a depth camera
  </description>
</model> 