<?xml version="1.0"?>
<model>
  <name>four_wheeled_robot</name>
  <version>3.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Nathan Jensen</name>
    <email>nath.h.jensen@gmail.com</email>
  </author>
  <description>
    CSM Lunabotics robot sim attempt 3
  </description>
</model> 